* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.ash {
    max-width: 1504px;
    margin: auto;
}


.ash__button-back {
    border: none;
    width: 102px;
    height: 46px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    background: #FFFFFF;
    border-radius: 15px;
    cursor: pointer;
    padding: 13px 18px 18px 19px;
    position: relative;
}

.ash__button-back span {
    padding-left: 10px;
}

.ash__button-back::before {
    content: "";
    display: block;
    position: absolute;
    top: 15px;
    width: 6.5px;
    height: 15px;
    background-image: url(../../../images/Vector.svg);
}


.ash__wrapper {
    display: flex;
    justify-content: space-between;
}

.ash__img {
    padding-top: 60px;
}

.ash__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #222222;
    opacity: 0.5;
}

.ash__title-descr {
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 62px;
    font-family: 'Pokemon Classic';
    color: #222222;
}

.ash__characteristic {
    width: 403px;
    height: 184px;
    background: #FFFFFF; 
    border-radius: 20px;
    padding: 30px;
    display: flex;
    margin-top: 30px;
}



.ash__characteristic_descr-inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ash__characteristic_descr {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #222222;
    width: 100px;
}

.ash__characteristic_val:nth-child(3) {
    display: flex;
    align-items: center;
    gap: 22px;
}


.text-opacity {
    opacity: 0.5;
}



.ash__characteristic_val-inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 8px;
}

.ash__characteristic_val {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #222222;
    line-height: 100%;
}

.ash__characteristic_val {
    display: flex;
    align-items: center;
    gap: 22px;
}

.ash__characteristic_val:first-child {
    gap: 8px;
}

.ash__characteristic_val-number {
    width: 50px;
}

.ash__characteristic_val-progress {
    display: flex;
    gap: 3px;
}

.ash__characteristic_val-progress_elem {
    width: 30px;
    height: 6px;
    background: #ED6F2D;
    border-radius: 100px;    
}

.ash__characteristic_val-progress_elem:last-child {
    background: #222222;
    opacity: 0.1;
}

.ash__characteristic_val-copy {
    
}


.progress {
    display: inline-block;
    width: 30px;
    height: 6px;
    background: #ED6F2D;
    border-radius: 100px;
}

.progress:last-child {
    opacity: 0.1;
}

.progress__inner {
    display: inline-block;
    padding-left: 22px;
}

.ash__pokemon-history {
    width: 403px;
    height: 66px;
    border-radius: 20px;
    padding: 22px;
    display: flex;
    gap: 8px;
}

.ash__pokemon-history span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}


.ash__fight-history {
    width: 403px;
    height: 66px;
    border-radius: 20px;
    padding: 21px;
    display: flex;
    gap: 8px;
}

.ash__fight-history span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}  

.ash__pokemon-history, .ash__fight-history, .ash__export-fight-history {
    background: #FFFFFF;
    margin-top: 12px;
}


.ash__export-fight-history {
    width: 403px;
    height: 88px;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.ash__export-fight-history-img {
    margin-bottom: 15px;
}

.ash__export-fight-history__button {
    width: 126px;
    height: 48px;
    border: 1px solid #ED6F2D;
    border-radius: 12px;
    background: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    cursor: pointer;
}

.span__inner {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.span__inner span:first-child {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.text-small {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.history-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #222222;
    opacity: 0.5;
}


.footer {
    margin-top: 158px;
    height: auto;
}

.ash__button-back-mobile {
    display: none;
}

.ash__button-exit-mobile {
    display: none;
}

@media (max-width: 1580px) {
    .ash {
        max-width: 1200px;
    }
}

@media (max-width: 1260px) {
    .ash {
        max-width: 896px;
    }
}

@media (max-width: 960px) {
    .ash__wrapper {
        flex-direction: column;
        align-items: center;   
    }
    .ash__img {
        padding-top: 20px;
    }
    .header-mobile, .ash__button-back {
        display: none;
    }

    .ash__fight-history-img {
        margin-bottom: none;
    }
    .ash__button-back-mobile {
        display: block;
        position: absolute;
        left: 12px;
        width: 34px;
        height: 34px;
        border: none;
        background: #FFFFFF;
        border-radius: 100px;
        cursor: pointer;
    }
    .ash__button-exit-mobile {
        display: block;
        width: 403px;
        height: 57px;
        background: #ED6F2D;
        border-radius: 6px;
        border: none;
        margin: auto;
        margin-top: 24px;
        cursor: pointer;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: #FFFFFF;
    }
}

